.memo {
  margin-left: 90%;
  /* padding-bottom: 20px; */
  margin-bottom: 20px;
}
.memo1 {
  text-align: center;
  margin-bottom: 15px;
}
.search {
  margin-left: 85%;
}
.devTable {
  width: 65%;
  margin-top: 15px;
  margin-left: 19%;
}
.formDiv {
  /* display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-left: 20px;
  background-color: rgb(114, 100, 84); */
  /* wi */
}
